﻿@model WebApplication.Models.ApplicationUsers;
@{
    ViewData["Title"] = "Đăng nhập";
}
    <ul class="nav navbar-nav navbar-right">

        @if( ViewData["IsLoggedIn"].Equals("false") ){
        <li>
            <a class="button" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
        }else{
        <li>
            <form asp-controller="Account" asp-action="Logout">
                <input class="button" type="submit" value="Đăng xuất" />
            </form>
        </li>
        }
    </ul>
