﻿@model WebApplication.Models.AccountViewModels.LoginViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


@{
    ViewData["Title"] = @DateTime.Now.ToString("dd-MM-yyyy");
}

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-action="Login">
            <h2>Đăng nhập - @ViewData["Title"] </h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" value="@Configuration["SiteUsername"]" readonly/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default btn-primary" />
            </div>

            <div class="alert-danger"> @ViewData["Status"] </div>
        </form>
    </div>
</div>    